.fadeUp {
    animation-name: fadeUpAnime;/*アニメーションの定義名*/
    animation-duration:2s;/*アニメーション変化時間 ※デフォルト*/
    animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
    opacity:0;
    }
    
    /*アニメーションの開始から終了までを指定する*/
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }

    .change-time1{
        animation-duration: 1s;
      }

      #page-top a{
        margin-bottom: 2rem;
        background: grey;
        color:#fff;
        text-align: center;
        display: block;
        text-decoration: none;
        padding:20px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.8rem;
        transition: all 0.3s;
      }
      
      #page-top a:hover{
        background: #777;
      }