@charset "UTF-8";
.animate-title,
.tween-animate-title {
  opacity: 0;
}

.animate-title.inview,
.tween-animate-title.inview {
  opacity: 1;
}

.animate-title.inview .char,
.tween-animate-title.inview .char {
  display: inline-block;
}

.animate-title .char,
.tween-animate-title .char {
  opacity: 0;
}

.animate-title.inview .char {
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate-title.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}

.animate-title.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.animate-title.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.animate-title.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.animate-title.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animate-title.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.animate-title.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.animate-title.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.animate-title.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.animate-title.inview .char:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animate-title.inview .char:nth-child(11) {
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
}

.animate-title.inview .char:nth-child(12) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.animate-title.inview .char:nth-child(13) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}

.animate-title.inview .char:nth-child(14) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.animate-title.inview .char:nth-child(15) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animate-title.inview .char:nth-child(16) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}

.animate-title.inview .char:nth-child(17) {
  -webkit-animation-delay: 0.68s;
          animation-delay: 0.68s;
}

.animate-title.inview .char:nth-child(18) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.animate-title.inview .char:nth-child(19) {
  -webkit-animation-delay: 0.76s;
          animation-delay: 0.76s;
}

.animate-title.inview .char:nth-child(20) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.animate-title.inview .char:nth-child(21) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.animate-title.inview .char:nth-child(22) {
  -webkit-animation-delay: 0.88s;
          animation-delay: 0.88s;
}

.animate-title.inview .char:nth-child(23) {
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
}

.animate-title.inview .char:nth-child(24) {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}

.animate-title.inview .char:nth-child(25) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animate-title.inview .char:nth-child(26) {
  -webkit-animation-delay: 1.04s;
          animation-delay: 1.04s;
}

.animate-title.inview .char:nth-child(27) {
  -webkit-animation-delay: 1.08s;
          animation-delay: 1.08s;
}

.animate-title.inview .char:nth-child(28) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}

.animate-title.inview .char:nth-child(29) {
  -webkit-animation-delay: 1.16s;
          animation-delay: 1.16s;
}

.animate-title.inview .char:nth-child(30) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 100px;
  color: white;
}

.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.mobile-menu__btn > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 7px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-menu__cover {
  position: absolute;
  font-size: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 200;
  overflow: hidden;
}

.mobile-menu__main {
  margin-left: 20px;
  padding: 0;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
  margin-bottom: 30px;
}

.mobile-menu__item {
  list-style: none;
  display: block;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  padding: 0 15px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
  opacity: 0;
}

.mobile-menu__link {
  display: block;
  margin-top: 1.5em;
  color: white;
  text-decoration: none;
}

.menu-open #container {
  -webkit-transform: translate(-400px, 60px);
          transform: translate(-400px, 60px);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .mobile-menu__item:nth-child(6) {
  -webkit-transition-delay: 0.42s;
          transition-delay: 0.42s;
}

.menu-open .mobile-menu__btn {
  z-index: 999;
}

.menu-open .mobile-menu__btn > span {
  background-color: black;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

.l-header__button-area {
  position: fixed;
  top: 27px;
  right: 24px;
  z-index: 3;
}

.c-hamburger {
  width: 32px;
  height: 32px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 500;
}

.c-hamburger__line {
  position: absolute;
  top: -10px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  background-color: #76706a;
  -webkit-transition: inherit;
  transition: inherit;
}

.l-header__button {
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.mobile-img {
  padding-top: 80px;
  width: 100%;
  position: relative;
  bottom: 0;
}

body {
  font-family: arial;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

#overlay-button {
  position: absolute;
  right: 1.3em;
  top: -0.25em;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#overlay-button span {
  height: 3px;
  width: 35px;
  border-radius: 2px;
  background-color: black;
  position: relative;
  display: block;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#overlay-button span:before {
  top: -10px;
  visibility: visible;
}

#overlay-button span:after {
  top: 10px;
}

#overlay-button span:before, #overlay-button span:after {
  height: 3px;
  width: 35px;
  border-radius: 2px;
  background-color: black;
  position: absolute;
  content: "";
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
  background: black;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}

input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
  background: transparent;
}

input[type=checkbox]:checked ~ #overlay-button span:before {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
}

input[type=checkbox]:checked ~ #overlay-button span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
          transform: rotate(-45deg) translate(7px, -7px);
}

#overlay {
  height: 110vh;
  width: 100vw;
  background-color: #76706a;
  z-index: 2;
  visibility: hidden;
  position: fixed;
  right: 0px;
  top: 0;
}

#overlay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}

#overlay ul li {
  padding: 1.25em;
  margin-left: 20px;
}

#overlay ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

#overlay ul li a:hover {
  color: #000 !important;
}

#overlay img {
  padding-top: 383px;
  padding-left: 30px;
  position: absolute;
  z-index: 300;
}

.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  /*アニメーションの定義名*/
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  /*アニメーション変化時間 ※デフォルト*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /*アニメーションの開始と終了時の状態を指定*/
  opacity: 0;
}

/*アニメーションの開始から終了までを指定する*/
@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.change-time1 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "FOT-筑紫Aオールド明朝 Pr6 M", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  letter-spacing: 0.05em;
  line-height: 2;
  font-weight: 800;
  font-size: 13px;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
  text-rendering: optimizeLegibility;
  color: #333;
}

.content-width, .header__inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

#global-container {
  background-color: #76706a;
}

#container {
  -webkit-transition: -webkit-transform 0.5, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5, -webkit-box-shadow 0.5s;
  transition: transform 0.5, box-shadow 0.5s;
  transition: transform 0.5, box-shadow 0.5s, -webkit-transform 0.5, -webkit-box-shadow 0.5s;
  position: relative;
  z-index: 10;
  background-color: white;
}

section {
  display: block;
}

a {
  color: black;
}

#header {
  height: 35px;
  padding-right: 65px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  width: 1.5em;
}

.logo__paint_1 {
  padding-top: 4px;
  font-size: 10px;
  margin-left: 10px;
  color: grey;
  margin-right: 70px;
  margin-bottom: 0;
}

.logo__paint_2 {
  font-size: 23px;
  margin-left: 10px;
  color: black;
  margin-right: 70px;
  margin-bottom: 0;
  font-weight: 700;
}

.logo__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__paint_footer {
  color: black;
  margin-right: 70px;
  margin-left: 5px;
  font-weight: 700;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  line-height: 1;
}

.header.triggered {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
}

.header__nav {
  display: none;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__li {
  margin-left: 20px;
}

.header__li > a {
  color: black;
  text-decoration: none !important;
}

.header.logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list {
  display: none;
}

#title {
  font-weight: bolder;
  color: white;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-90%, -40%);
          transform: translate(-90%, -40%);
  font-size: 30px;
  z-index: 2;
  text-align: start;
  width: 200px;
  height: 500px;
  line-height: 1.8;
}

h1 {
  text-align: start;
}

#main-title {
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.05em;
}

.concept {
  margin: 0 auto;
  width: 87vw;
  margin-top: 20px;
}

.concept__title {
  margin-bottom: 10px;
}

.concept__main {
  padding-top: 40px;
  font-size: 13.1px;
  text-align: center;
  line-height: 2.5;
  font-weight: 900;
}

.service {
  position: relative;
  margin-top: 146px;
  background-color: #f2f2ed;
}

.service__title {
  margin-left: 3.5vw;
  position: absolute;
  top: -40px;
  left: 0;
}

.service__wrap {
  padding-top: 40px;
  padding-bottom: 390px;
  padding-right: 6.5vw;
  padding-left: 6.5vw;
}

.service__thumb > img {
  width: 100%;
}

.service__cap {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 900;
  font-family: "FOT-筑紫Aオールド明朝 Pr6 M", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  line-height: 1.4;
  padding-top: 15px;
}

.service__text {
  padding-top: 10px;
}

.service__space {
  padding-top: 30px;
}

.about {
  position: relative;
  margin-top: -225px;
}

.about__title {
  position: absolute;
  top: -90px;
  right: 0px;
}

.about__thumb {
  padding-left: 6.5vw;
  padding-right: 6.5vw;
}

.about__thumb > img {
  width: 98%;
}

.about__text {
  width: 87vw;
  margin: 0 auto;
  padding-top: 20px;
}

.about__btn {
  margin-right: 20px;
}

.about__subtitle {
  text-align: center;
  margin: 50px 20px 0px 20px;
}

.news {
  position: relative;
  margin-top: 200px;
}

.news > img {
  width: 100%;
}

.news__title {
  margin-right: 3.5vw;
  position: absolute;
  top: -90px;
  right: -2.4vw;
}

.news__wrap {
  padding-top: 40px;
  padding-bottom: 55px;
  padding-right: 6.5vw;
  padding-left: 6.5vw;
}

.news__li {
  list-style: none;
  padding-bottom: 8px;
}

.news__btn {
  margin-top: 35px;
  text-align: right;
}

.contact {
  position: relative;
  z-index: 2;
  margin-top: 8.25rem;
  display: block;
}

.contact__wrap {
  margin-left: 25px;
  background-color: #f2f2ed;
}

.contact__body {
  position: relative;
  padding: 2rem 2rem 2rem;
}

.contact__title {
  margin-left: 3.5vw;
  position: absolute;
  top: -110px;
  left: 0;
}

.contact__vertical {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
}

.contact__main {
  font-weight: 800;
  font-family: "FOT-筑紫Aオールド明朝 Pr6 M", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.contact__tel-area {
  padding-top: 1.5625rem;
}

.contact__tel-head {
  font-family: "Scheherazade", serif;
  font-size: 1.25rem;
  line-height: 1;
}

.contact__tel {
  font-family: "Scheherazade", serif;
  font-size: 2.1875rem;
  letter-spacing: 0.08em;
  margin-top: -1.125rem;
  text-decoration: underline;
}

.contact__recep {
  font-size: 0.75rem;
  margin-top: -2.5rem;
  letter-spacing: 0.1em;
}

.contact__space {
  margin-top: 20px;
}

.contact__btn-area {
  margin-top: 1.375rem;
}

.contact__btn-area > a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.contact__btn {
  border: 1px solid #707070;
  width: 100%;
  display: block;
  padding: 1.125rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: "FOT-筑紫Aオールド明朝 Pr6 M", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.contact__btn-inner {
  font-size: 0.95rem;
}

#email {
  text-decoration: underline;
  font-size: 1.75rem;
}

.en {
  text-transform: uppercase;
  font-family: "Scheherazade", serif;
  font-size: 0.875rem;
  color: #76706a;
  margin-top: 4px;
  letter-spacing: 0.1em;
}

.jp {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  letter-spacing: 0.15em;
  background-color: black;
  color: white;
}

.footer {
  margin-top: -5.9375rem;
  background-color: #76706a;
  padding: 8.4375rem 25px 2.5rem;
  color: #fff;
}

.footer__name {
  font-size: 1rem;
}

.footer__add {
  font-size: 0.8125rem;
  padding-top: 0.5em;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.4375rem;
}

.footer__ul {
  width: 50%;
}

.footer__li {
  list-style: none;
  color: white;
}

.footer__li > a {
  text-decoration: none;
  color: inherit;
}

.footer__space {
  margin-top: 1.25rem;
}

.footer__copyright {
  opacity: 0.4;
  font-size: 0.75rem;
  margin-top: 5rem;
}

.footer > a {
  text-decoration: none;
  color: inherit;
}

.detail-btn {
  position: relative;
  font-size: 0.75rem;
  display: inline-block;
}

.detail-btn > a {
  text-decoration: none;
  color: inherit;
}

.detail-btn::after {
  position: absolute;
  bottom: -3px;
  right: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.customization {
  background-color: black;
  padding: 3px 1px 3px 1px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#reference {
  padding-bottom: 30px;
  padding-top: 55px;
}

.service1 {
  position: relative;
  margin-top: 20px;
  background-color: white;
}

.service1__title {
  margin-left: 3.5vw;
  position: absolute;
  top: -40px;
  left: 0;
}

.service1__wrap {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.service1__thumb > img {
  width: 100%;
  height: 100%;
}

.service1__cap {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  font-family: "FOT-筑紫Aオールド明朝 Pr6 M", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  line-height: 1.4;
  margin-top: 15px;
  margin-bottom: 10px;
}

.service1__text {
  padding-top: 60px;
  padding-bottom: 50px;
  padding-right: 6.5vw;
  padding-left: 6.5vw;
}

.service1__text3 {
  position: absolute;
  -webkit-transform: translate(5%, -50%);
          transform: translate(5%, -50%);
}

.service1__text4 {
  position: absolute;
  -webkit-transform: translate(5%, -50%);
          transform: translate(5%, -50%);
}

.service1__text5 {
  position: absolute;
  -webkit-transform: translate(5%, -50%);
          transform: translate(5%, -50%);
}

.service1__space {
  padding-top: 20px;
}

.service1__space1 {
  padding-top: 60px;
}

.service1__space3 {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 6.5vw;
  padding-left: 6.5vw;
}

.service1__contents {
  padding-right: 6.5vw;
  padding-left: 6.5vw;
}

.service1__contents > p {
  margin-bottom: 10px;
}

.service1__subtitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.service1__subtitle3 {
  border-bottom: dashed 1px #ccc;
  font-size: 17px;
}

.service-header {
  width: 100%;
}

.customization1 {
  width: 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  background-color: black;
  padding: 5px 3px 5px 3px;
  text-align: center;
  align-items: center;
  margin-bottom: 2px;
  letter-spacing: 0.1em;
}

.customization2 {
  width: 170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  padding: 5px 3px 5px 3px;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
}

.customization3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  padding: 5px 3px 5px 3px;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
}

.width3 {
  width: 195px;
}

.width4 {
  width: 165px;
}

.width5 {
  width: 220px;
}

.width6 {
  width: 65px;
}

.width7 {
  width: 180px;
}

.width8 {
  width: 100px;
}

.width9 {
  width: 140px;
}

.width10 {
  width: 250px;
}

.width11 {
  width: 125px;
}

.width12 {
  width: 165px;
}

.reference-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reference-image > img {
  width: 100%;
}

.info_style > p {
  margin-bottom: 0;
}

.company {
  padding: 20px;
}

.company__about > div {
  padding-bottom: 10px;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__li {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
  .footer__li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px;
  }
  .footer__li > a {
    color: grey;
  }
  .header__nav {
    display: block;
  }
  .mobile-menu__btn {
    display: none;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=styles.css.map */