/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body{
    margin: 0;
    font-family: "FOT-筑紫Aオールド明朝 Pr6 M", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    letter-spacing: 0.05em;
    line-height: 2;
    font-weight: 800;
    font-size: 13px;
    font-feature-settings: 'palt';
    text-rendering: optimizeLegibility;
    color: #333
    
}

.content-width {
    width: 90%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
}

#global-container{
    background-color: #76706a;

}

#container {
    transition: transform 0.5, box-shadow 0.5s;
    position: relative;
    z-index: 10;
    background-color: white;
}

section{
    display: block;
}

a{
    color:black;
}

// .border{
//     padding-top: 5px;
//     background-color:#aebc33;
// }

#header{
    height: 35px;
    padding-right: 65px;
}

.flex{
    display:flex;
    flex-direction: column;
}

.logo {
    font-size: 25px;
    display: flex;

    &__img {
        width: 1.5em;
    }

    &__paint_1{
        padding-top: 4px;
        font-size: 10px;
        margin-left: 10px;
        color:grey;
        margin-right: 70px;
        margin-bottom: 0;
    }

    &__paint_2{
        font-size: 23px;
        margin-left: 10px;
        color:$cBlack;
        margin-right: 70px;
        margin-bottom: 0;
        font-weight: 700;
    }



    &__title{
        display: flex;
        flex-direction: column;
    }

    &__paint_footer {
        color:$cBlack;
        margin-right: 70px;
        margin-left: 5px;
        font-weight: 700;
    }
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navHeight;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 100;
    line-height: 1;

    &.triggered {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
      }

    &__nav {
        display: none;
    }

    &__ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__li {
        margin-left: 20px;

        & > a {
            color:$cBlack;
            text-decoration: none !important;
        }
    }

    &.logo {
        justify-content: center;
        font-size: 30px;

    }

    &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
    }
}
// .icon{

//     display: block;
//     position: absolute;
//     width: 60px;
//     text-align: center;
//     right: 95px;
//     top: 27px;
// }
.menu-list{
    display:none;
}

nav{ 
  //  display: none;

}

#title{
    font-weight: bolder;
    color: white;
    writing-mode: vertical-rl;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -40%);
    font-size: 30px;
    z-index: 2;
    text-align: start;
    width: 200px;
    height:500px;
    line-height: 1.8;
}

h1{
    text-align: start;
}

#main-title{
    font-feature-settings: 'palt';
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.05em;
}

.concept{
    margin: 0 auto;
    width: 87vw;
    margin-top: 20px;
    // font-weight: 700;
    // font-size: 13px;

    &__title{
        margin-bottom: 10px;
    }

    &__main{
        padding-top:40px;
        font-size: 13.1px;
        text-align: center;
        line-height: 2.5;
        font-weight: 900;
    }

}

.service{
    position: relative;
    margin-top: 146px;
    background-color: #f2f2ed;

    &__title{
        margin-left: 3.5vw;
        position: absolute;
        top: -40px;
        left: 0;
    }

    &__wrap{
        padding-top: 40px;
        padding-bottom: 390px;
        padding-right: 6.5vw;
        padding-left: 6.5vw;
    }

    &__thumb{

        & > img{
            width: 100%;
        }
    }

    &__cap{
        font-size: 1.2rem;
        text-align: center;
        font-weight: 500;
        font-family: "FOT-筑紫Aオールド明朝 Pr6 M", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        line-height: 1.4;
        padding-top: 15px;
    }

    &__text{
        padding-top: 10px;

    }

    &__space{
        padding-top: 30px;
    }


}

.about{
    position: relative;
    margin-top: -225px;

    &__title{
        position: absolute;
        top: -90px;
        right: -2.4vw;
    }

    &__thumb{
        padding-left: 6.5vw;
        padding-right: 6.5vw;
        & > img{
            width: 98%;
        }
    }

    &__text{
        width: 87vw;
        margin: 0 auto;
        padding-top: 20px;
    }

    &__btn{
        margin-right: 20px;
    }

    &__subtitle{
        text-align: center;
        margin: 50px 20px 0px 20px;
    }
}

.news{
    position: relative;
    margin-top: 200px;

    & > img{
        width: 100%;
    }

    &__title{
        margin-right: 3.5vw;
        position: absolute;
        top: -90px;
        right: -2.4vw;
    }

    &__wrap{
        padding-top: 40px;
        padding-bottom: 55px;
        padding-right: 6.5vw;
        padding-left: 6.5vw;
    }

    &__li{
        list-style: none;
    }

    &__btn{
        margin-top: 35px;
        text-align: right;
    }
}

.contact{
    position: relative;
    z-index: 2;
    margin-top: 8.25rem;
    display: block;

    &__wrap{
        margin-left: 25px;
        background-color: #f2f2ed;
    }

    &__body{
        position: relative;
        padding: 2rem 2rem 2rem;
    }

    &__title{
        margin-left: 3.5vw;
        position: absolute;
        top: -110px;
        left: 0;
    }

    &__vertical{
        writing-mode: vertical-rl;
        font-feature-settings: normal;
    }

    &__main{
        font-weight: 800;
    font-family: "FOT-筑紫Aオールド明朝 Pr6 M", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    &__tel-area{
        padding-top: 1.5625rem;
    }

    &__tel-head{
        font-family: "Scheherazade", serif;
        font-size: 1.25rem;
        line-height: 1;
    }

    &__tel{
        font-family: "Scheherazade", serif;
        font-size: 2.1875rem;
        letter-spacing: 0.08em;
        margin-top: -1.125rem;
        text-decoration: underline;
    }

    &__recep{
        font-size: 0.75rem;
        margin-top: -2.5rem;
        letter-spacing: 0.1em;
    }

    &__space{
        margin-top: 20px;
    }

    &__btn-area{
        margin-top: 1.375rem;

        & > a{
            transition: all 0.2s ease-in-out;
            text-decoration: none;
        }
    }

    &__btn{
        border: 1px solid #707070;
        width: 100%;
        display: block;
        padding: 1.125rem;
        text-align: center;
        font-size: 1.125rem;
        font-weight: 500;
        font-family: "FOT-筑紫Aオールド明朝 Pr6 M", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    &__btn-inner{
        font-size: 0.95rem;
    }

}

#email{
    text-decoration: underline;
    font-size: 1.75rem;
}

.en{
    text-transform: uppercase;
    font-family: "Scheherazade", serif;
    font-size: 0.875rem;
    color: #76706a;
    margin-top: 4px;
    letter-spacing: 0.1em;
}

.jp{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    letter-spacing: 0.15em;
    background-color: black;
    color: white;
}

.footer{
    margin-top: -5.9375rem;
    background-color: #76706a;
    padding: 8.4375rem 25px 2.5rem;
    color: #fff;

    &__name{
        font-size: 1rem;
    }

    &__add{
        font-size: 0.8125rem;
        padding-top: 0.5em;
    }

    &__nav{
    display: flex;
    margin-top: 3.4375rem;
    }

    &__ul{
        width: 50%;
    }

    &__li{
        list-style: none;
        color: white;

        & > a{
            text-decoration: none;
            color: inherit;
        }
    }

    &__space{
        margin-top: 1.25rem;
    }

    &__copyright {
    opacity: 0.4;
    font-size: 0.75rem;
    margin-top: 5rem;

    }

    & > a{
        text-decoration: none;
        color: inherit;
    }
}

.detail-btn{
    position: relative;
    font-size: 0.75rem;
    display: inline-block;

    & > a{
        text-decoration: none;
        color: inherit;
    }

    &::after{
        position: absolute;
        bottom: -3px;
        right: 0;
        content: '';
        width: 100%;
        height: 1px;
        background: #333;
        transform: scale(1, 1);
        transform-origin: right top;
        transition: all 0.3s ease;
    }
}

.customization{
    background-color: black;
    padding: 3px 1px 3px 1px;
    text-align: center;
    align-items: center;
}

#reference{
    padding-bottom: 30px;
    padding-top: 55px;

}

.service1{
    position: relative;
    margin-top: 20px;
    background-color: white;

    &__title{
        margin-left: 3.5vw;
        position: absolute;
        top: -40px;
        left: 0;
    }

    &__wrap{
        padding-top: 40px;
        padding-bottom: 20px;
        padding-right: 6.5vw;
        padding-left: 6.5vw;
    }

    &__thumb{

        & > img{
            width: 100%;
        }
    }

    &__cap{
        color: white;
        font-size: 1rem;
        font-weight: 500;
        font-family: "FOT-筑紫Aオールド明朝 Pr6 M", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        line-height: 1.4;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    &__text{
        padding-top: 50px;
        padding-bottom: 30px;

    }

    &__text3{
        position: absolute;
        transform: translate(5%, -50%);

    }

    &__text4{
        position: absolute;
        transform: translate(5%, -50%);

    }

    &__text5{
        position: absolute;
        transform: translate(5%, -50%);

    }

    &__space{
        padding-top: 30px;
    }

    &__contents{
        padding-right: 6.5vw;
        padding-left: 6.5vw;

        & > p{
            margin-bottom: 10px;
        }
    }

    &__subtitle{
        font-size: 20px;
        margin-bottom: 10px;
    }


}

.service-header{
    width: 100%;
}

.customization1{
    width: 140px;
    align-items: center;
    margin-top: 10px;
    background-color: black;
    padding: 5px 3px 5px 3px;
    text-align: center;
    align-items: center;
    margin-bottom: 2px;
}

.customization2{
    width: 215px;
    align-items: center;
    //margin-top: px;
    background-color: black;
    padding: 5px 3px 5px 3px;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
}

.customization3{
    align-items: center;
    //margin-top: px;
    background-color: black;
    padding: 5px 3px 5px 3px;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
}

.width3{
 width: 195px;
}

.width4{
    width: 165px;
   }

.width5{
    width: 200px;
   }

.width6{
    width: 65px;
   }







