/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body{
    margin: 0;
    font-family: "FOT-筑紫Aオールド明朝 Pr6 M", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    letter-spacing: 0.05em;
    line-height: 2;
    font-weight: 800;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    color: #333
}

a{
    color:black;
}

// .border{
//     padding-top: 5px;
//     background-color:#aebc33;
// }

#header{
    height: 35px;
    padding-right: 65px;
}

// .icon{

//     display: block;
//     position: absolute;
//     width: 60px;
//     text-align: center;
//     right: 95px;
//     top: 27px;
// }
.menu-list{
    display:none;
}

nav{ 
  //  display: none;

}

#title{
    font-weight: bolder;
    color: white;
    writing-mode: vertical-rl;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -70%);
    font-size: 25px;
    z-index: 2;
}

#main-title{
    font-feature-settings: 'palt';
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.05em;
}

.concept{
    margin: 0 auto;
    width: 87vw;
    // font-weight: 700;
    // font-size: 13px;
}

p{
    // letter-spacing: 0.05em;
    // line-height: 2;
}



